<!DOCTYPE html>
<html lang="en">

<%- include ("../../noAdmin/partials/head.ejs") %>

<body>
    <div class="text-center">
        <a href="/"><img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn"></a>
    </div>
    <hr>
    <div class="container text-center pl-5 pr-5 pt-4 ">
        <h1 class="h4 mb-5">Edit <%= eventName %></h1>
        <form action="/admin/edit-event/<%= eventId %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              
                <div class="row mt-4">
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Event's name</label>
                        <input type="text" class="form-control" value="<%= eventName %>" name="name" id="exampleFormControlInput1">
                    </div>
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Place</label>
                        <input type="text" class="form-control" value="<%= eventPlace %>" name="place" id="exampleFormControlInput1" placeholder="City, Country">
                    </div>
                </div>
                <div class=row>
                    <div class="col-4 mt-4">
                        <label for="exampleFormControlInput1">Date</label>
                        <input placeholder="<%= eventDate %>" value="<%= eventDate %>" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="exampleFormControlInput1" name="date">
                    </div>
                    <div class="col-8 mt-4">
                        <label for="exampleFormControlInput1">url</label>
                        <input type="text" class="form-control" value="<%= eventUrl %>" name="url" id="exampleFormControlInput1" >
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-5">Submit</button>
            </div>
        </form>
    </div>
</body>