<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="text-center">
        <a href="/"><img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn"></a>
    </div>
    <hr>
    <div class="container text-center pl-5 pr-5 pt-4 ">
        <h1 class="h4 mb-5">Edit <%= eventName %></h1>
        <form action="/admin/edit-event/<%= eventId %>" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              
                <div class="row mt-4">
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Event's name</label>
                        <input type="text" class="form-control" value="<%= eventName %>" name="name" id="exampleFormControlInput1">
                    </div>
                    <div class="col-6">
                        <label for="exampleFormControlInput1">Place</label>
                        <input type="text" class="form-control" value="<%= eventPlace %>" name="place" id="exampleFormControlInput1" placeholder="City, Country">
                    </div>
                </div>
                <div class=row>
                    <div class="col-4 mt-4">
                        <label for="exampleFormControlInput1">Date</label>
                        <input placeholder="<%= eventDate %>" value="<%= eventDate %>" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control" id="exampleFormControlInput1" name="date">
                    </div>
                    <div class="col-8 mt-4">
                        <label for="exampleFormControlInput1">url</label>
                        <input type="text" class="form-control" value="<%= eventUrl %>" name="url" id="exampleFormControlInput1" >
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-5">Submit</button>
            </div>
        </form>
    </div>
</body>