<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="header">
      <div class="info text-center text-white p-1 text-uppercase shadow-sm font-weight-bold">open with level 1 safety standards</div>
      <div class="text-center">
        <img class="img-logo mt-2 mb-2" src="/images/logo.png" alt="Selwyn">
      </div>
      <nav class="container navbar navbar-expand-lg navbar-light p-0">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ml-lg-5 mr-lg-5" id="navbarNavAltMarkup">
          <div class="navbar-nav mx-auto">
            <a class="nav-item nav-link text-uppercase" href="/">Home</a>
            <a class="nav-item nav-link text-uppercase" href="/about-us">About Us</a>
            <a class="nav-item nav-link text-uppercase active-link font-weight-bold" href="/events">Events</a>
            <a class="nav-item nav-link text-uppercase" href="/club-info">Club Info</a>
            <a class="nav-item nav-link text-uppercase" href="/gallery">Gallery</a>
            <a class="nav-item nav-link text-uppercase" href="/contact-us">Contact Us</a>
            <!-- <a class="nav-item nav-link text-uppercase" href="/events">Members Area</a> -->
          </div>
        </div>
      </nav>
    </div>
    
  </div>
  <div name="events" id="events" class="container container-events pl-md-0 pr-md-0 pl-4 pr-4 mb-5">
    <div>
    <div>
      <h1 class="h3 text-blue font-weight-bold mb-4 events-schedule">Events schedule</h1>
    </div>
    <% events.forEach(function(event, index){ %>
      <% if(index === 0) { %>
        <div class="row mb-4 mb-md-2">
          <div class="col-md-2 d-md-flex align-items-md-center text-center p-md-4 p-2 row-date-active text-white">
            <div class="pl-md-4 pl-0">
            <h1 class="h4 events-date font-weight-bold mt-2"><span ><%= event.getDate() %></span></h1>
            <h2 class="h4 events-year font-weight-bold"><%= event.getYear() %></h2>
            </div>
          </div>
          <div class="col-md-8 p-md-4 p-2 row-title-active">
            <h1 class="h5 events-title font-weight-bold mt-2"><%= event.getName() %></h1>
            <span class="list-inline-item mt-2"><i class="fa fa-location-arrow" aria-hidden="true"></i> <%= event.getPlace() %></span>
          </div>
          <div class="text-right col-md-2 d-md-flex align-items-md-center p-md-4 pb-3 row-button-active">
            <a href="<%= event.getUrl() %>" target="_blank" class="btn btn-details text-white" role="button">Details</a>
          </div>
        </div>

        <% return %>
      <% } %>
      <% if (index % 2 === 0) { %>
        <div class="row mb-4 mb-md-2">
          <div class="col-md-2 d-md-flex align-items-md-center text-center p-md-4 p-2 row-date-dark text-white">
            <div class="pl-md-4 pl-0">
            <h1 class="h4 font-weight-bold events-date mt-2"><span><%= event.getDate() %></span></h1>
            <h2 class="h4 font-weight-bold events-year"><%= event.getYear() %></h2>
            </div>
          </div>
          <div class="col-md-8 p-md-4 p-2 row-title-dark">
            <h1 class="h5 font-weight-bold events-title mt-2"><%= event.getName() %></h1>
            <span><i class="fa fa-location-arrow mt-2" aria-hidden="true"></i> <%= event.getPlace() %></span>
          </div>
          <div class="text-right col-md-2 d-md-flex align-items-md-center p-md-4 pb-3 row-button-dark">
            <a href="<%= event.getUrl() %>" target="_blank" class="btn btn-details text-white" role="button">Details</a>
          </div>
        </div>

        <% return %>
        <% } %>
        <div class="row mb-4 mb-md-2">
          <div class="col-md-2 d-md-flex align-items-md-center text-center p-md-4 p-2  row-date-light text-white">
            <div class="pl-md-4 pl-0">
            <h1 class="h4 font-weight-bold events-date mt-2"><span><%= event.getDate() %></span></h1>
            <h2 class="h4 font-weight-bold events-year"><%= event.getYear() %></h2>
            </div>
          </div>
          <div class="col-md-8 p-md-4 p-2 row-title-light">
            <h1 class="h5 font-weight-bold events-title mt-2"><%= event.getName() %></h1>
            <span class="list-inline-item mt-2"><i class="fa fa-location-arrow" aria-hidden="true"></i> <%= event.getPlace() %></span>
          </div>
          <div class="text-right col-md-2 d-md-flex align-items-md-center p-md-4 pb-3 row-button-light">
            <a href="<%= event.getUrl() %>" target="_blank" class="btn btn-details text-white" role="button">Details</a>
          </div>
        </div>
    <% }) %>
    </div>
   
  </div>
    
    <footer class="page-footer font-small teal pt-5 mt-0">
      <div class="container text-center text-md-left p-4">
        <div class="row mb-4">
          <div class="col-lg-4 mt-md-0 mt-3 text-center">
            <a name="contact" id="contact"><h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Contact</h5></a>
            <ul class="list-unstyled">
              <li>
                  <p><i class="fas fa-envelope mr-1"></i><a class="mail" href="mailto:selwynswimclub@gmail.com" target="_blank">
                    <span class="text-white"> selwynswimclub@gmail.com</span></a></p>
              </li>
              <li>
                  <p><i class="fas fa-map-marker-alt mr-2"></i><span class="text-white">71 Broadlands Dr, Rolleston 7643</span></p>
              </li>
            </ul>
          </div>
          <hr class="clearfix w-100 d-lg-none pb-3">
          <div class="col-lg-4 mb-md-0 mb-3 text-center">
            <h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Follow Us</h5>
            <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/selwynswimclub/" target="_blank">
              <i class="fab fa-facebook-f mr-2"></i>
            </a>
            <a type="button" class="btn-floating btn-tw" href="https://www.instagram.com/selwynswimclub/" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </div>
          <hr class="clearfix w-100 d-lg-none pb-3">
          <div class="col-lg-4 mt-md-0 mt-3 text-center">
            <h5 class="footer-text text-uppercase mb-4 text-white font-weight-bold">Sponsors and supporters</h5>
            <a href="https://www.selwyn.govt.nz/" target="_blank"><img class="sponsor-sel mr-2" src="/images/sel.png"></a>
            <a href="https://www.pubcharitylimited.org.nz/" target="_blank"><img class="sponsor-pub" src="/images/pub1.jpg"></a>
          </div>
        </div>
      
    </footer>
  </div>
</body>