<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Selwyn Swim Club</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../CSS/style.css">
    <link href="/webfonts/all.css" rel="stylesheet">   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/images/logodrops.png"/>
    <link rel="stylesheet" type="text/css" href="jquery.fancybox.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.css">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<%- include ("partials/socialMedia.ejs") %>
<%- include ("partials/header.ejs", {currentPage:"gallery"}) %>

  <div class="container mt-5">
    <div class="row text-center text-lg-left">
      <% images.forEach(function(image){ %>
        <div class="gallery col-lg-3 col-md-4 col-6">
          <a href="<%= image.getPath() %>" class="fancybox d-block mb-4 h-100" data-fancybox="gallery1">
              <img src="<%= image.getPath() %>" class="img-fluid img-thumbnail" alt="Selwyn">
          </a>
        </div>
      <% }); %>
    </div>
  </div>

  <%- include ("partials/footer.ejs") %>

</body>