<!DOCTYPE html>
<html lang="en">

<%- include ("partials/head.ejs") %>

<body>
<%- include ("partials/socialMedia.ejs") %>
<%- include ("partials/header.ejs", {currentPage:"home-page"}) %>

<div id="carouselExampleControls" class="container carousel slide p-lg-0" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleControls" data-slide-to="1"></li>
        <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        <li data-target="#carouselExampleControls" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner mt-4">
        <div class="carousel-item active">
            <img class="d-block w-100 rounded shadow-sm" src="/images/slidercrop1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 rounded shadow-sm" src="/images/slider10.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 rounded shadow-sm" src="/images/slidercrop2.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100 rounded shadow-sm border" src="/images/slider6.jpg" alt="Second slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="about-us mt-5 text-white rounded p-4">
    <div class="container">
        <div class="text-center mt-5">
            <img class="orange-drops-lg mr-2" src="/images/Gotitas comillas-naranjas.png">
            <a class="btn-memb btn text-white" data-toggle="modal" data-target="#exampleModal"><h1
                        class="font-weight-bold"> Become a member</h1></a>
        </div>
        <div class="text-center">
            <a class="btn-memb btn text-white" data-toggle="modal" data-target="#exampleModal"><h4
                        class="font-weight-bold border p-2"> Join Us</h4></a>
        </div>
        <hr class="hr-box">
        <div class="text-center mb-5 mt-md-4 mt-5">
            <p class="about-us-text h5"><img class="orange-drops mr-2 mb-2" src="/images/image (1).png">As a club, we
                take pride in working with swimmers of all ages, developing their skills to
                attain their goals in our high-quality coaching programme.</p>
            <p class="about-us-text h5">Our swimmers range in experience from those swimming for fitness through to
                athletes
                competing internationally. <img class="orange-drops ml-2 " src="/images/image (2).png"></p>
        </div>

    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title ml-3 font-weight-bold text-blue" id="exampleModalLabel">Become a Member</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <div class="row pr-2 pl-2">
                    <div class="col-lg-6 col-12">
                        <div class="membership-light mb-4">
                            <h1 class="h5 row-date-dark p-3 text-white font-weight-bold"><img
                                        class="white-drops-sm mr-2" src="/images/Gotitas comillas-blancas.png">Club
                                Swimmer</h1>

                            <p class="p-3">This includes club level membership to SNZ and SCWC allowing a swimmer to
                                enter club swim meets anywhere in New Zealand.
                                A Club Swimmer can upgrade their membership any time to become a Competitive Swimmer but
                                must pay the additional affiliation
                                fees to SNZ and SCWC.</p>
                        </div>
                        <div class="membership-orange-light">
                            <h1 class="h5 row-date-active p-3 text-white font-weight-bold"><img
                                        class="white-drops-sm mr-2" src="/images/Gotitas comillas-blancas.png">Competitive
                                Swimmer</h1>

                            <p class="p-3">This includes membership to SNZ and SCWC for regional and national level
                                meets.
                                This will normally occur when Club Swimmer reaches Canterbury Champs qualification
                                standards.</p>
                        </div>

                    </div>
                    <div class="col-lg-6 p-0 d-none d-lg-block">
                        <img class="container membership-img" src="/images/swimer-text-sm.jpg">
                    </div>
                </div>
                <div class="mt-2 text-center">

                    <div class="about-us text-white p-4">
                        <p class="h5 font-weight-bold mt-4">Fees for 2020/2021 are:</p>
                        <p class="h5 font-weight-bold">Club Swimmer Membership $165.00* <br/>
                            Competitive Swimmer Membership $206.50 *</p>
                        <div>
                            <a href="https://docs.google.com/forms/d/1BxxszXpAmsUjOy44Uf2sqvHcG6yxjtP2eDB740tCj1M/viewform?gxids=7628&edit_requested=true"
                               target="_blank" role="button" class="btn-memb btn text-white"><h5
                                        class="font-weight-bold border p-2"> Join Us Here</h5></a>
                        </div>

                    </div>
                    <p class="mt-3">Membership fees are annual. The year starts and finishes in July.</p>
                    <p class="mt-2">*This excludes coaching fees and pool entry. Coaching fees are issued monthly for
                        Gold and Platinum Squads, termly for the
                        Silver and Bronze Squads. These fees are payable to Selwyn Aquatic Centre.</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> Close</button>
            </div>
        </div>
    </div>
</div>
<div name="events" id="events" class="container container-events pl-md-0 pr-md-0 pl-4 pr-4">
    <div>
        <div>
            <h1 class="h3 text-blue font-weight-bold mb-4 events-schedule">Events schedule</h1>
        </div>
        <% events.forEach(function(event, index){ %>
            <% if(index === 0) { %>
                <div class="row mb-4 mb-md-2">
                    <div class="col-md-2 d-md-flex align-items-md-center text-center p-md-4 p-2 row-date-active text-white">
                        <div>
                            <h1 class="h4 events-date font-weight-bold mt-2"><span><%= event.getDate() %></span></h1>
                        </div>
                    </div>
                    <div class="col-md-8 p-md-4 p-2 row-title-active">
                        <h1 class="h5 events-title font-weight-bold mt-2 mr-1"><%= event.getName() %></h1>
                        <span class="list-inline-item mt-2"><i class="fa fa-location-arrow"
                                                               aria-hidden="true"></i> <%= event.getPlace() %></span>
                    </div>
                    <div class="text-right col-md-2 d-md-flex align-items-md-center p-md-4 pb-3 row-button-active">
                        <a href="<%= event.getUrl() %>" target="_blank" class="btn btn-details text-white"
                           role="button">Details</a>
                    </div>
                </div>

                <% return %>
            <% } %>
            <% if (index % 2 === 0) { %>
                <div class="row mb-4 mb-md-2">
                    <div class="col-md-2 d-md-flex align-items-md-center text-center p-md-4 p-2 row-date-dark text-white">
                        <div>
                            <h1 class="h4 font-weight-bold events-date mt-2 mr-1"><span><%= event.getDate() %></span>
                            </h1>
                        </div>
                    </div>
                    <div class="col-md-8 p-md-4 p-2 row-title-dark">
                        <h1 class="h5 font-weight-bold events-title mt-2"><%= event.getName() %></h1>
                        <span><i class="fa fa-location-arrow mt-2"
                                 aria-hidden="true"></i> <%= event.getPlace() %></span>
                    </div>
                    <div class="text-right col-md-2 d-md-flex align-items-md-center p-md-4 pb-3 row-button-dark">
                        <a href="<%= event.getUrl() %>" target="_blank" class="btn btn-details text-white"
                           role="button">Details</a>
                    </div>
                </div>

                <% return %>
            <% } %>
            <div class="row mb-4 mb-md-2">
                <div class="col-md-2 d-md-flex align-items-md-center text-center p-md-4 p-2 row-date-light text-white">
                    <div>
                        <h1 class="h4 font-weight-bold events-date mt-2 mr-1"><span><%= event.getDate() %></span></h1>
                    </div>
                </div>
                <div class="col-md-8 p-md-4 p-2 row-title-light">
                    <h1 class="h5 font-weight-bold events-title mt-2"><%= event.getName() %></h1>
                    <span><i class="fa fa-location-arrow mt-2" aria-hidden="true"></i> <%= event.getPlace() %></span>
                </div>
                <div class="text-right col-md-2 d-md-flex align-items-md-center p-md-4 pb-3 row-button-light">
                    <a href="<%= event.getUrl() %>" target="_blank" class="btn btn-details text-white" role="button">Details</a>
                </div>
            </div>

        <% }) %>
    </div>
    <div class="d-flex justify-content-end mt-4">
        <a href="/events" class="btn btn-details text-white" role="button">View all events</a>
    </div>
</div>

<%- include ("partials/footer.ejs") %>

</body>